<script type="application/json" id="bootstrapped-game-json">
  <%= raw render :partial => 'games/show.json.jbuilder', :locals => {game: @game} %>
</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<div id="react-component--ecosystem"></div>
