.ecosystem-grid__title {
  text-align: center;
}

.ecosystem-grid__grid {
  margin: 0 auto;
  width: $grid-side-width;
}

.grid__tile {
  background-color: $gray-base;
  border: solid 1px $black-base;
  float: left;
  height: $grid-tile-width;
  width: $grid-tile-width;
  display: inline-block;
  -webkit-transition: background-color $speed-medium;
  transition: background-color $speed-medium;

  &:hover {
    background-color: $white-base;
  }
}

.grid__tile--alive {
  background-color: $ivory-base;
}
