.grid-tile {
  background-color: $gray-base;
  border: solid 1px $black-base;
  float: left;
  height: $grid-tile-width;
  width: $grid-tile-width;
  display: inline-block;
  -webkit-transition: background-color $speed-medium;
  transition: background-color $speed-medium;

  &:hover {
    background-color: $white-base;
  }
}

.grid-tile--alive {
  background-color: $ivory-base;
}

.grid-tile--in-play {
  @extend %animation-fade;
  // override the slow speed
  animation-duration: $speed-medium;
}

.grid-tile--size-medium {
  height: $grid-tile-width;
  width: $grid-tile-width;
}

.grid-tile--size-tiny {
  border: 0px;
  height: $grid-tile-width-tiny;
  width: $grid-tile-width-tiny;
  &:hover {
    background-color: $gray-base;
  }
}
