.grid-loading-screen {
  @extend %animation-fade;
  background-color: $gray-base;
  border: solid 1px $black-base;
  height: $grid-side-width;
  margin: 0 auto;
  position: relative;
  width: $grid-side-width;
}

.grid-loading-screen__text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
