// Colors
$gray-base: #78746b;
$black-base: #2e2a22;
$brown-base: #3b2a08;
$ivory-base: #c1bdb5;
$white-base: #fff;

// Grid measurements
$grid-side-width: 800px;
$grid-tile-width: 20px;

// Transitions and animations
$speed-medium: .2s;
$speed-slow: 1.5s;
