// Colors
$gray-base: #78746b;
$black-base: #2e2a22;
$brown-base: #3b2a08;
$ivory-base: #c1bdb5;
$white-base: #fff;

$green-base: #069e8c;
$green-dark: #046256;
$blue-base: #08b2c3;

// Grid measurements
$grid-side-width: 400px;
$grid-tile-width: 10px;
$grid-side-width-tiny: 80px;
$grid-tile-width-tiny: 2px;

// Transitions and animations
$speed-medium: .2s;
$speed-slow: 1.5s;

// Other measurements
$standard-padding: 1.5em;

// Mixins and Placeholders
%bottom-shadow {
  -webkit-box-shadow: inset 0 -8px 6px -6px black;
  -moz-box-shadow: inset 0 -8px 6px -6px black;
  box-shadow: inset 0 -8px 6px -6px black;
}

%top-shadow {
  -webkit-box-shadow: inset 0 8px 6px -6px black;
  -moz-box-shadow: inset 0 8px 6px -6px black;
  box-shadow: inset 0 8px 6px -6px black;
}

%top-and-bottom-shadow {
  -webkit-box-shadow: inset 0 -8px 6px -6px black, inset 0 8px 6px -6px black;
  -moz-box-shadow: inset 0 -8px 6px -6px black, inset 0 8px 6px -6px black;
  box-shadow: inset 0 -8px 6px -6px black, inset 0 8px 6px -6px black;
}
